<script>
var FT = FT || {}; FT.Properties = FT.Properties || {}; FT.Properties.ENV = {{#if @root.is_prod }}'p'{{else}}'t'{{/if}};
</script>
{{!-- FT tracking module 1.2.5 --}}
<script src="https://h2.ft.com/static-render-p.ft.com/scripts/a03ca392/bundles/tracking.js"></script>
<noscript>
<img alt="" border="0" width="1" height="1" src="http://track.ft.com/track/track.js?javascript=disabled"/>
<img alt="" border="0" width="1" height="1" src="http://stats.ft.com/si/track.gif?WT.js=No"/>
</noscript>
