<script>
(function(){

function init() {
  var oTracking = Origami['o-tracking'];
  var product = 'IG';
  var page_data = {
    content: { asset_type: 'interactive' }
  };

  var properties = [].reduce.call(document.querySelectorAll('head meta[property^="ft.track:"]')||[], function(o, el) {
    o[el.getAttribute('property').replace('ft.track:', '')] = el.getAttribute('content');
    return o;
  }, {});

  properties.product = properties.product || product;
  properties.is_live = properties.is_live && properties.is_live.toLowerCase() === 'true';

  if (properties.uuid) {
    page_data.content.uuid = properties.uuid;
  }

  if (properties.microsite_name) {
    page_data.content.microsite_name = properties.microsite_name;
  }

  oTracking.init({
    server: 'https://spoor-api.ft.com/px.gif',
    system: { is_live: properties.is_live },
    context: { product: properties.product }
  });

  // Automatic link tracking
  oTracking.link.init();
  // Register page view
  oTracking.page(page_data);

  // track when component is visible
  function onChange(changes) {
    changes.forEach(change => {
      if(change.isIntersecting || change.intersectionRatio > 0) {
        const event = new CustomEvent('oTracking.event', {
          detail: Object.assign({
            category: 'economic-dashboard',
            action: 'scrollPast',
          }, {
            heading: change.target.getElementsByClassName('card__title')[0].innerText,
            cardOrder: change.target.getAttribute('data-card-order'),
          }),
          bubbles: true,
        });

        document.body.dispatchEvent(event);
        this.unobserve(change.target);
      }
    });
  }

  // Set up scroll depth tracking
  const observer = new IntersectionObserver(onChange, { threshold: [ 1.0 ] });

  Array.from(document.querySelectorAll('.card__group-item')).forEach(el => {
    observer.observe(el);
  });
}

var o = document.createElement('script');
o.async = o.defer = true;
o.src = 'https://origami-build.ft.com/v2/bundles/js?modules=o-tracking';
var s = document.getElementsByTagName('script')[0];

if (o.hasOwnProperty('onreadystatechange')) {
  o.onreadystatechange = function() {
    if (o.readyState === 'loaded') {
      init();
    }
  };
} else {
  o.onload = init;
}

s.parentNode.insertBefore(o, s);

}());
</script>
<noscript data-o-component="o-tracking">
<img src="https://spoor-api.ft.com/px.gif?data={{#encodeJSON}}
{
    "action": "view",
    "category": "page",
    "context": {
        "content": {
            "asset_type": "interactive"
            {{#if meta.uuid }},"uuid": "{{ meta.uuid }}"{{/if}}
        },
        "product": "IG",
        "microsite_name": "Numbers"
    },
    "system": {
        "is_live": {{#if @root.is_prod }}true{{else}}false{{/if}},
        "apiKey": "qUb9maKfKbtpRsdp0p2J7uWxRPGJEP",
        "source": "o-tracking-ns",
        "version": "1.0.0"
    }
}
{{/encodeJSON}}" height="1" width="1" />
</noscript>
