<section class="card">

  <div class="card__header bg--{{group.color}}">
    <h3 class="card__title">{{title}}</h3>
  </div>

  <div class="card__body">

    {{#if charturl}}
    <figure>
      <object type="image/svg+xml" data="{{charturl}}">
        <!--[if lt IE 9]>
        <img src="{{{ svg-fallback-img charturl }}}">
        <![endif]-->
      </object>
    </figure>
    {{/if}}

    {{#if body}}
      {{{body}}}
    {{/if}}

  </div>

  <div class="card__footer">
    {{#if nowcast}}
      <p class="a">Data provided by <a href="https://www.now-casting.com/" target="_blank"><img src="http://ig.ft.com/static/sites/2014/economic-indicators/nowcastinglogo5.png" /></a></p>
    {{/if}}

    {{#if footnote}}
      <p class="footnote">
        {{{footnote}}}
      </p>
    {{/if}}
  </div>

</section>
