<section class="card">

  <div class="card__header bg--{{group.color}}">
    <h3 class="card__title">{{title}}</h3>
  </div>

  <div class="card__body">

    {{#if charturl}}
      {{>chart src=charturl}}
    {{/if}}

    {{#if body}}
      {{{body}}}
    {{/if}}

  </div>

  <div class="card__footer">
    {{#if nowcast}}
      <p style="text-align:right;">Data provided by  {{> nowcastinglink }}</p>
    {{/if}}

    {{#if footnote}}
      <p class="footnote">
        {{{footnote}}}
      </p>
    {{/if}}
  </div>

</section>
