<div class="index-card index-card__{{type}} {{type}}">
  <div class="tweet-link">
    <a target="_blank" href="https://twitter.com/intent/tweet?url=http://ig.ft.com/sites/uk/economic-dashboard/%23{{type}}&amp;text=44 charts that explain the UK economy" si:link="social-media_twitter" alt="Tweet these {{type}} figures"></a>
  </div>

  {{#if category}}
    <div class="title">{{category}}</div>
  {{/if}}

  {{#if shortblurb}}
    <div class="blurb">
      {{{shortblurb}}}
    </div>
  {{/if}}

  {{#if big-number}}
  <div class="headline-figs">
    <div class="bignum-heading">{{bignum-heading}}</div>
    <div class="bignum">{{big-number}}<span>{{bignum-units}}</span></div>
    <div class="arrow {{arrow-direction}}">{{arrows arrow-direction}}</div>   
  </div>
  {{/if}}

  <div class="small-figs">
    <div class="small-figs-holder">
      <div class="small-figs-heading">{{short-heading}}</div>
      <div class="small-figs-value">{{short-change}}<span>{{units}}</span></div>
    </div>
    <div class="small-figs-holder right">
      <div class="small-figs-heading">{{annual-heading}}</div>
      <div class="small-figs-value">{{annual-change}}<span>{{units}}</span></div>
    </div>
  </div>
  
  {{#if updated}}
    <div class="timestamp">Last updated: {{date updated}}</div>
  {{/if}}

</div>
