<div class="index-card index-card__{{type}} {{type}}">
  <div class="tweet-link">
    <a target="_blank" href="https://twitter.com/intent/tweet?url=http://ig.ft.com/sites/uk/economic-dashboard/%23{{type}}&amp;text=44 charts that explain the UK economy" si:link="social-media_twitter" alt="Tweet these {{type}} figures"></a>
  </div>

  {{#if category}}
    <div class="title">{{category}}</div>
  {{/if}}

  {{#if shortblurb}}
    <div class="blurb">
      {{{shortblurb}}}
    </div>
  {{/if}}

  {{#if bignum-heading}}
    {{#is-number big-number}}
      {{> bignum heading=bignum-heading value=big-number units=bignum-units}}
    {{else}}
      {{#if bignum-name}}
        {{#with (lookup @root.latest bignum-name)}}
          {{> bignum heading= ../../bignum-heading value=value units=unit date=date}}
        {{/with}}
      {{/if}}
    {{/is-number}}
  {{/if}}

  {{#or short-heading annual-heading}}
  <div class="small-figs">

    {{#is-number short-change}}
      {{> smallnum heading=short-heading value=short-change units=units}}
    {{else}}
      {{#if short-name}}
        {{#with (lookup @root.latest short-name)}}
          {{> smallnum heading=../../short-heading value=value units=unit date=date}}
        {{/with}}
      {{/if}}
    {{/is-number}}

    {{#is-number annual-change}}
      {{> smallnum heading=annual-heading value=annual-change units=units}}
    {{else}}
      {{#if annual-name}}
        {{#with (lookup @root.latest annual-name)}}
          {{> smallnum heading=../../annual-heading value=value units=unit date=date}}
        {{/with}}
      {{/if}}
    {{/is-number}}

  </div>
  {{/or}}

  {{#if updated}}
    <div class="timestamp">As of {{date updated}}</div>
  {{/if}}

  {{#if footnote}}
    <div class="timestamp">{{{footnote}}}</div>
  {{/if}}

</div>
