<meta name="description" content="{{default meta.description site.description}}">

{{#any meta.keywords}}
<meta name="keywords" content="{{join meta.keywords ','}}">
{{/any}}

<meta name="copyright" content="Financial Times">

{{#if meta.canonical_url}}
<link rel="canonical" href="{{ meta.canonical_url }}" />
{{/if}}

{{#if @root.is_prod }}
<meta property="ft.track:is_live" content="true"/>
{{/if}}

{{#if meta.uuid }}
<meta property="ft.track:uuid" content="{{ meta.uuid }}"/>
{{/if}}

<meta property="ft.track:product" content="IG"/>
<meta property="ft.track:microsite_name" content="Numbers"/>

<meta property="og:site_name" content="{{default meta.og.site_name site.name}}"/>

{{#if meta.og.type}}
<meta property="og:type" content="{{default meta.og.type}}"/>
{{/if}}

<meta property="og:title" content="{{default meta.og.title meta.title}}"/>

{{#or meta.og.description meta.description}}
<meta property="og:description" content="{{default meta.og.description meta.description}}" />
{{/or}}

{{#or meta.og.image meta.image}}
<meta property="og:image" content="{{default meta.og.image meta.image}}"/>
{{/or}}
<meta property="fb:app_id" content="240084812701288" />

{{#outputBlock 'meta'}}{{/outputBlock}}

<meta name="format-detection" content="telephone=no" />
<link rel="shortcut icon" href="https://ig.ft.com/favicon.ico" type="image/x-icon" />
<link rel="apple-touch-icon" href="http://im.ft-static.com/m/icons/apple-touch-icon.png" />
<link href="https://plus.google.com/113457471429583444041/" rel="publisher" />
