<footer class="o-footer o-footer--theme-light" data-o-component="o-footer">
  <nav class="o-footer__row">
    <div class="o-footer__col o-footer__col--full-width">
      <h3 class="o-footer__title">Sections</h3>
      <ul class="o-footer__row o-footer__section-list">
        <li class="o-footer__link o-footer__section-link o-footer__col">
          <a href="http://www.ft.com/" rel="nofollow">Home</a>
        </li>
        <li class="o-footer__link o-footer__section-link o-footer__col">
          <a href="http://www.ft.com/world/uk" rel="nofollow">UK</a>
        </li>
        <li class="o-footer__link o-footer__section-link o-footer__col">
          <a href="http://www.ft.com/world" rel="nofollow">World</a>
        </li>
        <li class="o-footer__link o-footer__section-link o-footer__col"><a href="http://www.ft.com/companies" rel="nofollow">Companies</a></li>
        <li class="o-footer__link o-footer__section-link o-footer__col"><a href="http://www.ft.com/markets" rel="nofollow">Markets</a></li>
        <li class="o-footer__link o-footer__section-link o-footer__col"><a href="http://www.ft.com/global-economy" rel="nofollow">Global Economy</a></li>
        <li class="o-footer__link o-footer__section-link o-footer__col"><a href="http://www.ft.com/lex" rel="nofollow">Lex</a></li>
        <li class="o-footer__link o-footer__section-link o-footer__col"><a href="http://www.ft.com/comment" rel="nofollow">Comment</a></li>
        <li class="o-footer__link o-footer__section-link o-footer__col"><a href="http://www.ft.com/management" rel="nofollow">Management</a></li>
        <li class="o-footer__link o-footer__section-link o-footer__col"><a href="http://www.ft.com/personal-finance" rel="nofollow">Personal Finance</a></li>
        <li class="o-footer__link o-footer__section-link o-footer__col"><a href="http://www.ft.com/life-arts" rel="nofollow">Life &amp; Arts</a></li>
      </ul>
    </div>
  </nav>
  <div class="o-footer__row o-footer__link-lists">
    <nav class="o-footer__col o-footer__link-list">
      <h3 class="o-footer__title">Tools</h3>
      <ul>
        <li class="o-footer__link"><a href="http://portfolio.ft.com/" rel="nofollow">Portfolio</a></li>
        <li class="o-footer__link"><a href="http://lexicon.ft.com/" rel="nofollow">Lexicon</a></li>
        <li class="o-footer__link"><a href="http://www.ft.com/topics" rel="nofollow">Topics</a></li>
        <li class="o-footer__link"><a href="http://markets.ft.com/alerts/keyword.asp" rel="nofollow">Alerts Hub</a></li>
        <li class="o-footer__link"><a href="http://nbe.ft.com/nbe/profile.cfm?segid=70121" rel="nofollow">Daily Briefings</a></li>
      </ul>
    </nav>
    <nav class="o-footer__col o-footer__link-list">
      <h3 class="o-footer__title">Services</h3>
      <ul>
        <li class="o-footer__link"><a href="http://www.ft.com/corporate" rel="nofollow">Corporate subscriptions</a></li>
        <li class="o-footer__link"><a href="http://www.ft.com/syndication" rel="nofollow">Syndication</a></li>
        <li class="o-footer__link"><a href="https://www.ft-live.com/" rel="nofollow">Conferences</a></li>
      </ul>
    </nav>
    <nav class="o-footer__col o-footer__link-list">
      <h3 class="o-footer__title">Support</h3>
      <ul>
        <li class="o-footer__link"><a href="http://www.ft.com/help" rel="nofollow">Help</a></li>
        <li class="o-footer__link"><a href="http://www.ft.com/aboutus" rel="nofollow">About us</a></li>
        <li class="o-footer__link"><a href="http://aboutus.ft.com/careers/" rel="nofollow">Jobs</a></li>
        <li class="o-footer__link"><a href="http://aboutus.ft.com/contact-us" rel="nofollow">Contact us</a></li>
      </ul>
    </nav>
    <nav class="o-footer__col o-footer__link-list">
      <h3 class="o-footer__title">Legal &amp; Advertising</h3>
      <ul>
        <li class="o-footer__link"><a href="http://www.ft.com/advertising" rel="nofollow">Advertise with the FT</a></li>
        <li class="o-footer__link"><a href="http://www.ft.com/servicestools/help/terms" rel="nofollow">Terms &amp; conditions</a></li>
        <li class="o-footer__link"><a href="http://www.ft.com/servicestools/help/privacy" rel="nofollow">Cookie &amp; privacy policy</a></li>
        <li class="o-footer__link"><a href="http://www.ft.com/servicestools/help/copyright" rel="nofollow">Copyright</a></li>
      </ul>
    </nav>
  </div>
  <div class="o-footer__row o-footer__copyright" style="margin-top:0;margin-bottom:0;padding-top:20px;padding-bottom:20px;">
    <div class="o-footer__col o-footer__col--full-width">
      <span>&#xA9; THE FINANCIAL TIMES LTD 2015.</span>
      <span><abbr title="Financial Times">FT</abbr> and &#x2018;Financial Times&#x2019; are trademarks of The Financial Times Ltd.</span>
    </div>
  </div>
</footer>
