<div class="o-message o-message--notice-bleed o-message--inform" data-o-component="o-message">
  <div class="o-message__container">
    <div class="o-message__content">
      <p class="o-message__content-main">We are improving our economic dashboards, and we want to hear from you.</p>
      <div class="o-message__actions">
        <a href="https://financiatimescx.eu.qualtrics.com/jfe/form/SV_3fNbDlqNs5LPEsl?source={{toUpperCase dashboard.name}}" class="o-message__actions__primary" target="_blank" data-trackable="economic-dashboard-survey">
          Go to survey
          <span class="visually-hidden">(opens new window)</span>
        </a>
      </div>
    </div>
  </div>
</div>
