.articlehead {

  &__headline {
    text-align: center;
    margin: auto;
    padding-top: 66px;
    font-family: 'FinancierDisplayWeb', serif;
    font-weight: 400;
    font-size: 30px;
    color: oColorsGetPaletteColor(grey-tint5);

    @include oGridRespondTo($from:S, $until:M) {
      padding-top: 68px;
    }

    @include oGridRespondTo(M) {
      font-size: 36px;
    }

    @include oGridRespondTo(L) {
      font-size: 40px;
    }
  }

  &__byline {
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    color: #44443E;
    max-width: 600px;
    margin: 1em auto 1.5em auto;

    a {
      text-decoration: none;
      color: #2e6e9e;
      transition: color 0.3s;

      &:hover {
        color: #000000;
        transition: color 0s;
      }
    }
  }

  &__lead {
    font-size: 20px;
    line-height: 1.4;
    text-align: center;
    color: #44443E;
    max-width: 720px;
    margin: auto;
    margin-top: 0.4em;

    @include oGridRespondTo($from:S, $until:M) {
      font-size: 18px;
    }

    a {
      color: inherit;
      border: 0;
      :hover {
        color: #000000;
      }
    }

  }

}


