.articlehead {

  padding-top: 110px;
  padding-bottom: 10px;

  font-size: 15px;

  @include oGridRespondTo(S) {
    font-size: 16px;
  }

  @include oGridRespondTo(M) {
    font-size: 18px;
  }

  &__headline,
  &__byline,
  &__lead,
  &__share, {
    margin-top: 10px;
    margin-bottom: 10px;
    .articlehead & {
      margin-left: auto;
      margin-right: auto;
      max-width: 710px;
    }
  }

  &__headline {
    text-align: center;
    font-family: 'FinancierDisplayWeb', serif;
    font-weight: 400;
    font-size: 2.25em;
    color: oColorsGetPaletteColor(grey-tint5);

  }

  &__byline {
    font-size: 1em;
    font-weight: 400;
    text-align: center;
    color: #44443E;
    max-width: 600px;

    a {
      text-decoration: none;
      color: #2e6e9e;
      transition: color 0.3s;

      &:hover {
        color: #000000;
        transition: color 0s;
      }
    }
  }

  &__lead {
    font-size: 1.12em;
    line-height: 1.4;
    text-align: center;
    color: #44443E;
    max-width: 720px;

    a {
      color: inherit;
      border: 0;
      :hover {
        color: #000000;
      }
    }

  }

  &__share {
    padding-top: 0.5em;
    text-align: center;
    vertical-align: middle;
  }

}
