.card {

  background-color: #fff9f1;
  border-radius: 4px;
  min-height: 480px;
  overflow: auto;
  font-size: 16px;
  line-height: 1.2;
  color: #44443E;
  border: 1px solid oColorsGetPaletteColor(pink-tint3);

  @include oGridRespondTo($from:S, $until:M) {
    min-height: inherit;
  }

  &,
  & * {
    box-sizing: border-box;
  }

  & > * {
    padding: 10px 12px;
  }

  p {
    margin: 0 auto 1em;
  }

  figure {
    margin: 0 auto 0.75em;
    img {
      width: 100%;
    }
  }

  strong {
    font-weight: 600;
  }

  a {
    text-decoration: none;
    color: #2e6e9e;
    transition: color 0.3s;

    &:hover {
      color: #000000;
      transition: color 0s;
    }
  }


  &__title {
    -webkit-font-smoothing: auto;
    padding: 0;
    margin: 0;
    font-weight: 600;
    font-size: 14px;
    line-height: 1;
  }
  
  &__header {
    color: #ffffff;
  }

  &__body {

    &:after {
      content: "";
      display: table;
      clear: both;
    }
  }

  &__footer {
    color: oColorsGetPaletteColor(pink-tint5);
    font-size: 12px;

    & :last-child {
      margin-bottom: 0;
    }
  }

  &--index {
    color: #ffffff;
    border-width: 0;
  }

  &__group {
    margin-bottom: 40px;

    &-item {
      // padding: 6px 1% 6px 0;
      color: oColorsGetPaletteColor(grey-tint5);
      -webkit-font-smoothing: antialiased;

      @include oGridRespondTo($from:S, $until:M) {
        padding: 6px 0;
      }

      @include oGridRespondTo(M) {
        display: flex;
      }

      margin-bottom: 10px;

      & > * {
        flex: 1 1 0%;
      }
    }
  }

}

.card--index {
  .card__title {
    font-weight: 600;
    font-size: 26px;
  }
  .card__body {
    padding-top: 0;
  }
}

.card--index a {
  color: #ffffff;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  &:hover {
    color: #ffffff;
    border-color: rgba(255, 255, 255, 0.8);
  }
}
