.bg--pink {
  background-color: $ft-color-pink;
}

.bg--teal {
  background-color: $ft-color-teal;
}

.bg--orange {
  background-color: $ft-color-orange;
}

.bg--green {
  background-color: $ft-color-green;
}

.bg--dusk {
  background-color: $ft-color-dusk;
}

.bg--purple {
  background-color: $ft-color-purple;
}

.bg--brown {
  background-color: $ft-color-brown;
}

.bg--grey {
  background-color: $ft-color-grey;
}

.bg--blue {
  background-color: $ft-color-blue;
}

.bg--cyan {
  background-color: $ft-color-cyan;
}

.bdr--teal {
  border-left: 5px solid $ft-color-teal;
}

.bdr--pink {
  border-left: 5px solid $ft-color-pink;
}

.bdr--orange {
  border-left: 5px solid $ft-color-orange;
}

.bdr--green {
  border-left: 5px solid $ft-color-green;
}

.bdr--dusk {
  border-left: 5px solid $ft-color-dusk;
}

.bdr--purple {
  border-left: 5px solid $ft-color-purple;
}

.bdr--brown {
  border-left: 5px solid $ft-color-brown;
}

.bdr--grey {
  border-left: 5px solid $ft-color-grey;
}

.bdr--blue {
  border-left: 5px solid $ft-color-blue;
}

.bdr--cyan {
  border-left: 5px solid $ft-color-cyan;
}
