<!doctype html>
<html lang="en" class="core">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{default meta.title site.name}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">

    <link rel="preconnect" href="https://h2.ft.com" />
    <link rel="preconnect" href="https://spoor-api.ft.com">
    <link rel="preload" type="application/javascript" as="script" href="https://h2.ft.com/polyfill/v2/polyfill.min.js" />
    <link rel="preload" type="application/javascript" as="script" href="{{ asset 'scripts/main.js' }}" />
    <link rel="preload" type="text/css" as="style" href="https://ig.ft.com/graphics/bloomberg-economics/chart-style.css" />
    <link rel="preload" type="image/svg+xml" as="image" href="{{ asset 'images/nowcasting.svg' }}" />

    <meta name="robots" content="index,follow">

    <style>.core .o--if-js,.enhanced .o--if-no-js {display: none !important;}</style>
    {{>ctm}}

    <link rel="stylesheet" href="https://h2.ft.com/build/v2/bundles/css?modules=o-fonts@^1.8,o-ft-icons@^3,o-footer@^3.1" />
    <link rel="stylesheet" href="{{asset 'styles/main.css'}}">

    {{>page-meta}}

  </head>
  <body class="o-hoverable-on">
    {{>site-header}}

    <main>{{{body}}}</main>
    
    {{>site-footer}}
    {{>polyfill}}
    {{>scripts}}
    {{>analytics-ft}}
    {{>analytics-ga}}
    {{>analytics-chartbeat}}

  </body>
</html>
