<div class="o-grid-row">
  <div data-o-grid-colspan="S12 M12 L12 XL12">
    <h1 id="main-title">{{{ dashboard.title.html }}}</h1>
    {{#if dashboard.logo.text }}
      <div class="dashboard-logo">
        <img src="{{ dashboard.logo.text }}" alt="{{ dashboard.title.text }}"/>
      </div>
    {{/if}}
  </div>
</div>
<div class="o-grid-row">
  <div class="content-holder" data-o-grid-colspan="S12 M12 L12 XL12">
    {{#if dashboard.introText.html }}
      <div id="intro-text">{{{ dashboard.introText.html }}}</div>
    {{/if}}
    <div class="byline">
      <span class="by">By </span>
    {{#each dashboard.credits ~}}
      {{#if @last}}{{#unless @first}} and {{/unless}}{{else}}{{#unless @first}}, {{/unless}}{{/if}}
      {{#if url ~}}
        <a href="{{ url }}">{{ name }}</a>
      {{else}}
        {{ name }}
      {{~/if}}
    {{~/each}}
    </div>
    <div class="container">
      <div id="indicators">
        {{#each dashboard.groups}}
          {{#if indicators.length}}
          <div id="{{type}}" class="indicator-group indicator-group__{{ type }} o-grid-row">
            {{#each indicators}}
              <div class="indicator-item" data-o-grid-colspan="12 S12 M6 L4 XL3">
                {{#if indexcard}}
                  {{> card-index .}}
                {{else}}
                  {{> card-indicator .}}
                {{/if}}
              </div>
            {{/each}}
            <div class="bottom-stroke"></div>
          </div>
          {{/if}}
        {{/each}}
      </div>
    </div>
  </div>
</div>
