$ft-color-pink: #af516c;
$ft-color-teal: #557c85;
$ft-color-orange: #bd5753;
$ft-color-green: #6e785f;
$ft-color-dusk: #9a6a6a;
$ft-color-purple: #807085;
$ft-color-brown: #8f6e57;
$ft-color-grey: #807373;
$ft-color-blue: #4678a4;
$ft-color-cyan: #348094;


