$o-grid-is-silent: false;
$o-fonts-is-silent: false;
$o-ft-icons-is-silent: false;
$o-grid-debug-mode: true;

@import 'normalize';
@import 'o-colors/main';

@import "origami-overrides/o-footer";

$o-grid-layouts: (
    S:  240px,
    M:  600px,
    L:  800px,
    XL: 1100px
);

@import "o-grid/main";
@import "o-hoverable/main";


$ft-color-inflation: #af516c;
$ft-color-gdp: #557c85;
$ft-color-manufacturing: #bd5753;
$ft-color-construction: #6e785f;
$ft-color-services: #9a6a6a;
$ft-color-labour: #807085;
$ft-color-biz-lending: #8f6e57;
$ft-color-housing: #807373;
$ft-color-retail: #4678a4;
$ft-color-public: #348094;

html {
  -webkit-text-size-adjust: 100%; /* Prevent font scaling in landscape while allowing user zoom */
}

body {
  @include oColorsFor(page, background);

  margin: 0;
  border: 0;
  font-family: 'MetricWeb', sans-serif;
  font-size: 18px;
}

.inflation,
.rates {
  background-color: $ft-color-inflation;
}
.gdp,
.forecasts,
.markets {
  background-color: $ft-color-gdp;
}
.fed,
.manufacturing {
  background-color: $ft-color-manufacturing;
}
.construction {
  background-color: $ft-color-construction;
}
.services {
  background-color: $ft-color-services;
}
.jobs,
.productivity {
  background-color: $ft-color-labour;
}
.business {
  background-color: $ft-color-biz-lending;
}
.housing {
  background-color: $ft-color-housing;
}
.consumers {
  background-color: $ft-color-retail;
}
.publicfinances,
.trade {
  background-color: $ft-color-public;
}

.sections--gdp,
.sections--forecasts,
.sections--markets {
  border-left: 5px solid $ft-color-gdp;
}

.sections--inflation,
.sections--rates {
  border-left: 5px solid $ft-color-inflation;
}

.sections--fed,
.sections--manufacturing {
  border-left: 5px solid $ft-color-manufacturing;
}

.sections--construction {
  border-left: 5px solid $ft-color-construction;
}

.sections--services {
  border-left: 5px solid $ft-color-services;
}

.sections--jobs,
.sections--productivity {
  border-left: 5px solid $ft-color-labour;
}

.sections--business {
  border-left: 5px solid $ft-color-biz-lending;
}

.sections--housing {
  border-left: 5px solid $ft-color-housing;
}

.sections--consumers {
  border-left: 5px solid $ft-color-retail;
}

.sections--publicfinances,
.sections--trade {
  border-left: 5px solid $ft-color-public;
}

#ft-header {
  height: 50px;
  width: 100%;
  position: fixed;
  top: 0;
  background-color: #fff1e0;
  z-index: 10000;
  border-bottom: 1px solid #cec6b9;
  text-align: left;

  .ft-header__center-logo,
  .ft-header__center-title {
    position: absolute;
    width: 100%;
    left: 0;
  }
  .ft-header__center-logo {
    overflow: hidden;
    height: 50px;
    display: none;
    .o-ft-icons-icon--brand-ft-masthead {
      font-size: 250px;
      text-decoration: none;
      line-height: 236px;
      color: #000000;
      opacity: 0.8;
      transition: opacity 0.3s;
      &:hover {
        opacity: 1;
      }
      &.sticky {
        opacity: 0;
        transition: opacity 0s;
        pointer-events: none;
      }
    }
  }
  .ft-header__center-title {
    pointer-events: none;
    opacity: 0;
    margin-left: 40px;
    &.sticky {
      pointer-events: visible;
      transition: opacity 0.3s;
      opacity: 1;
    }    
    .ft-header__primary-label {
      display: block;
      font-weight: 600;
      font-size: 14px;
      padding-top: 16px;
      text-decoration: none;
      color: oColorsGetPaletteColor(grey-tint5);
      transition: opacity 0s;
    }
  }
}

.ft-header__right,
.ft-header__left {
  height: 50px;
  font-family: 'MetricWeb', sans-serif;
  box-sizing: border-box;
  text-align: center;
  vertical-align: middle;
  display: table-cell;
  i {
    font-size: 18px;
  }
}

.o-grid-row {
  min-width: 210px;
  max-width: 1360px;
}

#{$o-hoverable-if-hover-enabled} .ft-header-button:hover {
    color: oColorsGetPaletteColor(pink-tint5);
    cursor: pointer;
    transition: color 0.3s;
}

.ft-header__right {
  width: 90px;
  padding: 13px 0;
  position: absolute;
  right: 0;
  text-transform: uppercase;
  color: oColorsGetPaletteColor(pink-tint4);
  font-size: 12px;
  display: table-cell;
  vertical-align: middle;
  border-left: 1px solid oColorsGetPaletteColor(pink-tint2);
  .ft-header__primary-link {
    cursor: pointer;
  }
  .ft-header__section-label {
    margin-right: 4px;
    vertical-align: middle;
  }
}

// .container-menu {
//   position: relative;
//   top: 50px;
// }
.ft-header__left {
  width: 240px;
  padding: 8px 10px;
  float: left;
  font-size: 16px;
  color: oColorsGetPaletteColor(grey-tint5);
  font-weight: 600;
  opacity: 1;
  i {
    font-size: 32px;
    display: inline-block;
    color: oColorsGetPaletteColor(grey-tint5);
  }
  &.sticky {
    opacity: 1;
  }
}

.ft-header__left {
  text-align: left;
  font-size: 14px;
  width: 200px;
  i {
    margin-right: 4px;
    font-size: 24px;
  }
}

.ft-header__sections {
  float: right;
  width: 100%;
  margin: 0;
  display: none;
  background-color: oColorsGetPaletteColor(pink-tint1);
  border-top: 1px solid oColorsGetPaletteColor(pink-tint3); 
  border-bottom: 1px solid oColorsGetPaletteColor(pink-tint3); 
  padding-bottom: 4px;
}

.ft-header__sections.menuon {
  display: block;
}

.sections-index {
  margin: 0;
  padding: 0;
  border-top: 1px solid transparent;
}

.sections-index ul {
  list-style: none;
  font-family: 'MetricWeb', sans-serif;
  color: oColorsGetPaletteColor(pink-tint5);
  float: right;
  text-align: left;
  padding: 0 6px;
}

.sections-index__children {
  // width: 210px;
  li { 
    line-height: 34px;
    border-bottom: 1px solid oColorsGetPaletteColor(pink-tint2);
    margin-bottom: 4px;
  }
  li a {
    text-decoration: none;
    color: oColorsGetPaletteColor(pink-tint5);
    font-weight: 400;
    font-size: 14px;
    display: block;
    padding-left: 4px;
  }
}

.sections-index__children--first {
  li:last-child {
    border-bottom: 0;
  }  
}

.sections-index__children--last {
  li:last-child {
    border-bottom: 0;
  }  
}

.container {
  margin-top: -32px;
}

#intro-text {
  font-family: 'MetricWeb', sans-serif;
  font-size: 1.2em;
  line-height: 1.6em;
  color: oColorsGetPaletteColor(pink-tint5);
  max-width: 600px;
  margin: auto;
  margin-top: 0.4em;
  a {
    text-decoration: none;
    color: #74736c;
    display: inline-block;
    background-color: #e9decf;
    padding: 6px;
    line-height: 16px;
    border-radius: 4px;
    font-size: 14px;
    text-transform: uppercase;
    transition: background-color 0.3s;
  }
}

#{$o-hoverable-if-hover-enabled} #intro-text a:hover {
  transition: background-color 0s;
  background-color: oColorsGetPaletteColor(pink-tint3);
}

h1 {
  text-align: center;
  margin: auto;
  padding-top: 66px;
  font-family: 'MetricWeb', sans-serif;
  font-weight: 200;
  font-size: 2em;
  color: oColorsGetPaletteColor(grey-tint5);
  padding-bottom: 4px;
}

.dashboard-logo {
  margin: 12px auto 0;
  max-width: 300px;
  img {
    max-width: 300px;
    height: 100%;
  }
}
.byline {
  font-family: 'MetricWeb', sans-serif;
  font-size: 14px;
  font-weight: 200;
  color: #74736c;
  max-width: 600px;
  margin: 12px auto;

  .by {
    font-weight: 600;
  }
  a {
    text-decoration: none;
    color: #2e6e9e;
    transition: color 0.3s;
  }
  a:hover {
    color: #000000;
    transition: color 0s;
  }
}

.timestamp {
  font-size: 12px;
}

.footnote {
  font-size: 12px;
}

.indicator-group {
  padding-top: 50px;
  background-color: transparent;
}

.bottom-stroke {
  clear: both;
  // margin-bottom: 40px;
}

.index-card {
  font-family: 'MetricWeb', sans-serif;
  color: #ffffff;
  border-radius: 4px;
  min-height: 600px;
  padding: 12px;
  overflow: auto;
  .title {
    font-weight: 600;
    font-size: 28px;
    margin-bottom: 6px;
    -webkit-font-smoothing: auto;
  }
  .blurb {
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 20px;
    a {
      color: #ffffff;
      text-decoration: none;
      font-style: italic;
      font-weight: 600;
      transition: opacity 0.3s;
      // opacity: 1;
    }
  }
  .blurb a:hover {
    opacity: 0.5;
    transition: oapcity 0s;
  }
  .tweet-link {
    a {
      background: url('data:image/svg+xml;charset=UTF-8,<svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="26px" height="22px"><path fill="#ffffff" d="M24.61,3.368c-0.905,0.401-1.878,0.673-2.9,0.795c1.042-0.625,1.843-1.614,2.22-2.793c-0.976,0.579-2.056,0.999-3.207,1.225C19.803,1.613,18.491,1,17.039,1c-2.789,0-5.049,2.261-5.049,5.049c0,0.396,0.045,0.781,0.131,1.151C7.924,6.989,4.204,4.979,1.713,1.924C1.279,2.67,1.03,3.537,1.03,4.462c0,1.752,0.891,3.297,2.246,4.203C2.448,8.639,1.669,8.412,0.989,8.034c0,0.021,0,0.042,0,0.063c0,2.446,1.741,4.487,4.05,4.951c-0.424,0.115-0.87,0.177-1.33,0.177c-0.325,0-0.642-0.032-0.95-0.091c0.643,2.006,2.507,3.466,4.717,3.506c-1.728,1.354-3.905,2.162-6.271,2.162c-0.408,0-0.81-0.024-1.205-0.071C2.234,20.164,4.888,21,7.74,21c9.287,0,14.365-7.693,14.365-14.366c0-0.219-0.005-0.437-0.015-0.653C23.077,5.27,23.933,4.38,24.61,3.368z"/></svg>');
      width: 26px;
      height: 22px;
      float: right;
      position: relative;
      top: 5px;
    }
  }
}

.headline-figs {
  color: #ffffff;
  text-align: center; 
  margin-bottom: 20px;

  .bignum-heading {
    font-size: 16px;
    font-weight: 600;
  }

  .bignum {
    font-size: 58px;
    font-weight: 200;
    display: inline-block;
    span {
      font-size: 44px;
    }
  }
  .arrow {
    display: inline-block;
    margin-left: 12px;
    position: relative;
    &.down {
      transform: rotate(180deg);
      bottom: 8px;
    }
    &.up {
      margin-right: 12px;
      bottom: 6px;
    }
    &.level {
      font-size: 12px;
      text-transform: uppercase;
      bottom: 12px;
    }
  }
}

.small-figs {
  text-align: center; 
  margin-bottom: 8px;
  font-weight: 200;
  .small-figs-holder {
    display: inline-block;
    width: 45%;
    &:nth-child(even) {
      margin-left: 20px;
    }
    .small-figs-heading {
      font-weight: 600;
      font-size: 14px;
    }
    .small-figs-value {
      font-size: 36px;
      span {
        font-size: 21px;
      }
    }
  }
}

.indicator-item {
  // padding: 6px 1% 6px 0;
  color: oColorsGetPaletteColor(grey-tint5);
  -webkit-font-smoothing: antialiased;

  @include oGridRespondTo(M) {
    display: flex;
  }
  margin-bottom: 10px;
}
.indicator-item > * {
  flex: 1 1 0%;
}

.indicator-card {
  background-color: #fff9f1;
  border: 1px solid oColorsGetPaletteColor(pink-tint3);
  border-radius: 4px;
  min-height: 600px;
}
.indicator-card__title,
.indicator-card__body {
  font-family: 'MetricWeb', sans-serif;
}

.indicator-card__title {
  border-radius: 3px 3px 0 0;
  padding: 6px 12px 4px;
  
  .title {
    color: #ffffff;
    font-size: 18px;
    margin-bottom: 4px;
    line-height: 20px;
    span {
      font-weight: 600;
      -webkit-font-smoothing: auto;
      font-size: 14px;
    }
  }
}
.indicator-card__body {
  padding: 12px;
  border-width: 0 1px 1px;
  &:after {
    content: "";
    display: table;
    clear: both;
  }
  .blurb {
    color: oColorsGetPaletteColor(pink-tint5);
    font-size: 16px;
    line-height: 20px;
    a {
      color: #2e6e9e;
      text-decoration: none;
      transition: color 0.3s;
    }
    a:hover {
      color: #000000;
      transition: color 0s;
    }
    .read-more {
      font-weight: 600;
    }
  }
  .chart {
    width: 100%;
    margin-bottom: 10px;
    text-align: center;
    box-sizing: border-box;
    color: oColorsGetPaletteColor(pink-tint5);
    img {
      width: 100%;
    }
    object {
     height: 100%;
    }
  }

  .timestamp,
  .footnote {
    color: oColorsGetPaletteColor(pink-tint5);
    margin-top: 12px;
  }

  .now-casting {
    display: block;
    float: right;
    font-size: 12px;
    color: oColorsGetPaletteColor(pink-tint5);

    p {
      display: inline-block;
      margin-right: 4px;
      vertical-align: bottom;
    }
  }
}

@include oGridRespondTo($from:S, $until:M) {
  #ft-header {
    font-size: 16px;
  }
  .indicator-item {
      padding: 6px 0;
  }
  .index-card,
  .indicator-card {
    min-height: inherit;
  }
  h1 {
    padding-top: 68px;
  }
  #intro-text {
    font-size: 0.875em;
    line-height: 1.7em;
    a {
      padding: 4px;
      line-height: 14px;
      font-size: 12px;
    }
  }
}

@include oGridRespondTo(M) {  
  #ft-header {
    .ft-header__center-title {
      margin-left: 46px;
      .ft-header__primary-label {
        font-size: 16px;
      }
    }
  }
  .ft-header__left {
    padding: 8px 10px;
    text-align: left;
    font-size: 16px;
    width: 240px;
    i {
      margin-right: 4px;
      font-size: 30px;
    }
  }
  .ft-header__right {
    padding: 13px;
    width: 210px;
  }
  .ft-header__sections {
      width: 210px;
  }

  .sections-index ul {
    float: none;
  }
  .sections-index__children--first {
    li:last-child {
      border-bottom: 1px solid oColorsGetPaletteColor(pink-tint2);
    }  
  }
  h1 {
    font-size: 2.5em;
  }
  // .indicator-item {
  //     padding: 6px 2% 6px 0;
  // }
}

.o-ft-footer {
  border-top: 0;
}


@include oGridRespondTo(L) {
  h1 {
    font-size: 3.2em;
  }
  #ft-header {
    text-align: center;
    a > img {
      display: inline-block;
    }
    .ft-header__center-logo {
      display: block;
    }
    .ft-header__center-title {
      margin-left: 0;
      .ft-header__primary-label {
        font-size: 18px;
      }
    }
  }
  .ft-header__left {
    width: 210px;
    padding: 8px 10px;
    opacity: 0;
    transition: opacity 0.3s;
  }
}
