<div id="indicators">
    {{#each .}}
        <div id="{{type}}" class="indicator-group indicator-group__{{type}} o-grid-row">
            {{> indicator_group .}}
            <div class="bottom-stroke"></div>
        </div>
    {{/each}}
</div>
