<header id="ft-header">
  <div class="ft-header__center-logo">
    <a href="//www.ft.com"><i class="o-ft-icons-icon o-ft-icons-icon--brand-ft-masthead"></i></a>
  </div>
  <div class="ft-header__center-title">
    <a href="#main-title" class="ft-header__primary-label">{{options.title}}</a>
  </div>
  <div class="ft-header__left">
    <a href="//www.ft.com"><i class="o-ft-icons-icon o-ft-icons-icon--brand-ft-logo-square"></i></a>
  </div>
  <div class="ft-header__right">
    <span href="#" class="ft-header__primary-link ft-header-button">
      <span class="ft-header__section-label">Sections</span>
      <i class="o-ft-icons-icon o-ft-icons-icon--hamburger"></i>
    </span>
  </div>
  <div class="container-menu">
    <div class="o-grid-row ft-header__sections ft-header__sections--menu ft-header__sections--menu-js">
      <ul class="sections-index">
        <ul class="sections-index__children sections-index__children--first" data-o-grid-colspan="6 S6 M12 L12 XL12">
          <li class="sections-index__child "><a class="sections--gdp" href="#gdp">GDP</a></li>
          <li class="sections-index__child"><a class="sections--markets" href="#markets">Markets</a></li>
          <li class="sections-index__child"><a class="sections--jobs" href="#jobs">Labour</a></li>
          <li class="sections-index__child"><a class="sections--productivity" href="#productivity">Productivity</a></li>
          <li class="sections-index__child"><a class="sections--inflation" href="#inflation">Inflation</a></li>
          <li class="sections-index__child"><a class="sections--rates" href="#rates">Interest rates</a></li>
          <li class="sections-index__child"><a class="sections--consumers" href="#consumers">Consumers</a></li>
        </ul>
      </ul>
    </div>
  </div>
</header>

<div class="o-grid-row">
  <div data-o-grid-colspan="S12 M12 L12 XL12">
    <h1 id="main-title">{{options.title}}</h1>
    <div class="dashboard-logo">
      <img src="{{options.logo}}" alt="The UK economy at a glance"/>
    </div>
  </div>
</div>
<div class="o-grid-row">
  <div class="content-holder" data-o-grid-colspan="S12 M12 L12 XL12">
    <div id="intro-text">{{{options.introText}}}</div>
    <div class="byline"></div>
    <div class="container"></div>
  </div>
</div>